<!-- Footer Section Begin -->
<footer class="footer">
    <div class="page-up">
        <a href="#" id="scrollToTopButton"><span class="arrow_carrot-up"></span></a>
    </div>
    <div class="container">
        <div class="row footer__content">
            <div class="col-lg-4">
                <div class="footer__logo">
                    <a href="/"><img src="/img/logo1.png" alt="logo"></a>
                    <p>Pipifilm is an awesome website with lots of anime movies. Let's discover this exciting anime world with us!</p>
                </div>
            </div>
            <div class="col-lg-4">
                <h5>Quick link</h5>
                <div class="footer__nav">

                    <div>
                        <ul>
                            <li><a href="/">Homepage</a></li>
                            <li><a href="/categories">Categories</a></li>
                            <li><a href="/blog">Our Blog</a></li>
                        </ul>
                    </div>
                    <div>
                        <ul>
                            <li><a href="/romance">Romance movies</a></li>
                            <li><a href="/action">Action movies</a></li>
                            <li><a href="/comedy">Comedy movies</a></li>
                        </ul>
                    </div>
                </div>


            </div>
            <div class="col-lg-2">
                <h5>Follow us</h5>
                <div class="footer__socials">

                    <ul>
                        <li><a href="#"><i class="fa fa-facebook" style="font-size: 1.4rem;"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram" style="font-size: 1.4rem;"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" style="font-size: 1.4rem;"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube" style="font-size: 1.4rem;"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;
            <script>
                document.write(new Date().getFullYear());
            </script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </p>
    </div>
</footer>
<!-- Footer Section End -->

<!-- Search model Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch"><i class="icon_close"></i></div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>
<!-- Search model end -->

<!-- Js Plugins -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/player.js"></script>
<script src="/js/jquery.nice-select.min.js"></script>
<script src="/js/mixitup.min.js"></script>
<script src="/js/jquery.slicknav.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/main.js"></script>


</body>

</html>