<%- include ('partials/header'); %>
    <!-- Normal Breadcrumb Begin -->
    <section class="normal-breadcrumb set-bg" data-setbg="img/normal-breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="normal__breadcrumb__text">
                        <h2>Follow list</h2>
                        <p>Welcome to the anime world of Pipifilm.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Normal Breadcrumb End -->

    <!-- Signup Section Begin -->
    <section class="py-5">
        <div class="container">
            <div class="follow__list">
                <h3>Follow list</h3>
                <div class="follow__content">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="img/trending/trend-1.jpg">
                            <div class="ep">Ep 18</div>
                            <div class="comment"><i class="fa fa-comments"></i> 11</div>
                            <div class="view"><i class="fa fa-eye"></i> 9141</div>
                            <div class="product__content d-flex flex-wrap align-content-center">
                                <a href="#" class="btn"><i class="fa fa-play"></i> Watch Now</a>
                                <a href="#" class="btn"><i class="fa fa-heart" style="color: red;"></i> Unfollow</a>
                            </div>
                        </div>
                        <div class="product__item__text">
                            <ul>
                                <li>HD</li>
                                <li>Movie</li>
                            </ul>
                            <h5><a href="#">The Seven Deadly Sins: Wrath of the Gods</a></h5>
                        </div>
                    </div>
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="img/trending/trend-1.jpg">
                            <div class="ep">Ep 18</div>
                            <div class="comment"><i class="fa fa-comments"></i> 11</div>
                            <div class="view"><i class="fa fa-eye"></i> 9141</div>
                            <div class="product__content d-flex flex-wrap align-content-center">
                                <a href="#" class="btn"><i class="fa fa-play"></i> Watch Now</a>
                                <a href="#" class="btn"><i class="fa fa-heart" style="color: red;"></i> Unfollow</a>
                            </div>
                        </div>
                        <div class="product__item__text">
                            <ul>
                                <li>HD</li>
                                <li>Movie</li>
                            </ul>
                            <h5><a href="#">The Seven Deadly Sins: Wrath of the Gods</a></h5>
                        </div>
                    </div>
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="img/trending/trend-1.jpg">
                            <div class="ep">Ep 18</div>
                            <div class="comment"><i class="fa fa-comments"></i> 11</div>
                            <div class="view"><i class="fa fa-eye"></i> 9141</div>
                            <div class="product__content d-flex flex-wrap align-content-center">
                                <a href="#" class="btn"><i class="fa fa-play"></i> Watch Now</a>
                                <a href="#" class="btn"><i class="fa fa-heart" style="color: red;"></i> Unfollow</a>
                            </div>
                        </div>
                        <div class="product__item__text">
                            <ul>
                                <li>HD</li>
                                <li>Movie</li>
                            </ul>
                            <h5><a href="#">The Seven Deadly Sins: Wrath of the Gods</a></h5>
                        </div>
                    </div>
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="img/trending/trend-1.jpg">
                            <div class="ep">Ep 18</div>
                            <div class="comment"><i class="fa fa-comments"></i> 11</div>
                            <div class="view"><i class="fa fa-eye"></i> 9141</div>
                            <div class="product__content d-flex flex-wrap align-content-center">
                                <a href="#" class="btn"><i class="fa fa-play"></i> Watch Now</a>
                                <a href="#" class="btn"><i class="fa fa-heart" style="color: red;"></i> Unfollow</a>
                            </div>
                        </div>
                        <div class="product__item__text">
                            <ul>
                                <li>HD</li>
                                <li>Movie</li>
                            </ul>
                            <h5><a href="#">The Seven Deadly Sins: Wrath of the Gods</a></h5>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section>
    <!-- Signup Section End -->
    <%- include ('partials/footer'); %>